* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100vw;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#nprogress .bar {
  background: green !important;
}
#nprogress .spinner {
  display: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
